* {
  margin: 0;
 	padding: 0;
 }

body {
  text-align: center;
}

h1 {
 	font-size: 2rem;
  margin-top: 3%;
}

section {
  width: 50%;
  margin: 0 auto;
}

@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

#parent {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #2b265e;
  background-color: #fff;
  border-radius: 50%;
  margin: 100px;
  animation: circle .1s linear infinite;
  transform-origin: 50% 200px;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #310951;
  border: 1px solid #000;
  border-radius: 50%;
  animation: inner-circle .1s linear infinite;
}

button {
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.roundedButton {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(0,79,86);
  user-select: none;
} 

.roundedButton:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}

.roundedButton:active {
  padding-bottom: 1px;
  box-shadow:
  inset rgba(0,0,0,1) 0 1px 3px,
  inset rgba(0,0,0,.6) 0 -2px 5px,
  inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}