/*Styles for TODO List*/

* {
  margin: 0;
  padding: 0;
}

body {
    background: #fff;
    font-family: "Caudex", serif;
    color: #1c243a;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
}

.container {
    display: block;
    width: 700px;
    margin: 5% auto 0;
    border: 2px solid #1c243a;
    border-radius: 15px;
    padding: 20px 16px 30px;
    background: #f7fbfc;
}

li * {
    float: left;
}

h2, h3 {
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 2px solid #1c243a;
    padding: 10px 0;
    margin: 0 0 10px;
}

button {
    background-color: transparent;
    border: 1px solid #cdd3d1;
    color: #4a5060;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 8px;
}

#add,
#show,
#hide {
    padding: 10px;
    margin-top: 0;
    border-radius: 10px;
}

button:hover {
    color: #196b23;
    border: 1px solid #196b23;
    border-radius: 10px;
    background-color: #8badc1;
}

input[type="text"] {
    width: 450px;
    margin-right: 40px;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #cdd3d1;
    background-color: transparent;
    border-radius: 10px;
    font-family: sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: black;
}

li {
    overflow: hidden;
    border-bottom: 1px solid #bab8b8;
}

li > label {
    font-size: 18px;
    line-height: 40px;
    width: 500px;
    padding: 1px 0 0 11px
}

ul li input[type=text] {
    display: none;
}

form, #show, #hide, #add {
   display: inline; 
}

.delete{
    float: right;
} 

.delete:hover {
    color: #681313;
}
