* {
 	margin: 0;
 	padding: 0;
 }

section {
 	width: 50%;
	margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
	font-family: "EB Garamond", serif;
	color: #254746;
	background-color: #edfffe;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
 	font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

p {
  font-size: 1.3rem;
  color: #191644;
  margin-top: 8%;
}

.roundedButton {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(0,79,86);
  user-select: none;
} 

.roundedButton:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}

.roundedButton:active {
  padding-bottom: 1px;
  box-shadow:
   	inset rgba(0,0,0,1) 0 1px 3px,
   	inset rgba(0,0,0,.6) 0 -2px 5px,
   	inset rgba(252,255,255,.7) 0 2px 5px,
   	0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}

input[type="color"] {
  color: #191644;
  width: 3rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1%;
  background-color: transparent;
  font-size: .9rem;
  margin-top: 8%;
}