* {
  margin: 0;
 	padding: 0;
 }

body {
  text-align: center;
}

h1 {
 	font-size: 2rem;
  margin-bottom: 3%;
  margin-top: 2%;
}

h2 {
  margin-bottom: 2%;
}

div {
  margin-bottom: 3%;
}

button {
  
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.roundedButton {
  display: inline-block;
  width: 120px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(0,79,86);
  user-select: none;
} 

.roundedButton:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}

.roundedButton:active {
  padding-bottom: 1px;
  box-shadow:
  inset rgba(0,0,0,1) 0 1px 3px,
  inset rgba(0,0,0,.6) 0 -2px 5px,
  inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}

#elementsCreator button:nth-child(2) {
  background-color: rgba(12, 39, 109, .9);
}

#colorSetter button {
  background-color: rgba(35, 29, 91, .9);
}

input {
  display: block;
  margin: 2% auto;
}